*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: none;
}
nav{
    height: 80px;
    width: 100%;
    background: #34495e;
}
label.logo{
font-size: 45px;
font-weight: bold;
color: white;
padding: 0 100px;
line-height: 80px;
border: 1px outset white;
border-radius: 10px;
margin-left: 40px;
}
nav ul{
    float: right;
    margin-right: 40px;
}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    text-decoration: none;
}
a.active, a:hover{
    border: 2px solid burlywood;
    transition: 3s;
    border-radius: 10px;
    color: burlywood;
}
input.search{
    border: 2px solid burlywood;
    border-radius: 10px;
    height: 35px;
    width: 360px;
    text-align: center;
}